{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="Log_section" id="Top-section">

    <div class="container left-side" id="home-content">
        <h1>Welcome To Data Analysis Tool <ion-icon name="server"></ion-icon></h1>
        <p>This Website Provide The Best Data Analysis Of Your Data .</p>
        
    </div>
    <div class="container right-side" id="login-form">
       <form action="{% url 'loging' %}" method="post">
        {% csrf_token %}

        <div class="card form-card">
            <div class="card-head">
                <h5>Sign In</h5>
            </div>
            {% if error_msg %}
                <div class="error-msg-box">
                    <span class="error">{{error_msg}}</span>
                </div>
            {% endif %}
        
            <div class="card-body">

                <div class="inputs-group">
                    
                   <span><ion-icon name="mail-outline"></ion-icon><input type="email" name="email" placeholder="Email Id *" required></span> 
                </div>
                <div class="inputs-group">
                   
                    <span><ion-icon name="lock-closed-outline"></ion-icon><input type="password"  name="psw" placeholder="Password *" required></span>
                </div>
                <div class="submitt_btn">
                   <button type="submit">Login</button>
                </div>

                <div class="div-link">
                    <a href="{% url 'Signup_Page' %}"><span>Sign Up ?</span></a>
       
                    <a href="#"><span>Forgott Password ?</span></a>
                </div>
                
            </div>
            
        </div>
       


       </form>

    </div>

</section>



{% endblock %}




