{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="Signup_section">

    <div class="container left-side" id="home-content">
        <h1>Welcome To Data Analysis Tool  <ion-icon name="server"></ion-icon></h1>
        <p>This Website Provide The Best Data Analysis Of Your Data .</p>
        
    </div>
    <div class="container right-side" id="signup-form">
       <form action="{% url 'Signup_user' %}" method="post">
        {% csrf_token %}

        <div class="card form-card">
          
            <div class="card-head">
                <h5>Sign Up</h5>
            </div>
            {% if success_msg %}
            <div class="msg-box">
                <span class="success">{{success_msg}}</span>
            </div>
            {% endif %}
            {% if error_msg %}
            <div class="msg-box">
                <span class="error">{{error_msg}}</span>
            </div>
            {% endif %}
            <div class="card-body">
                <div class="inputs-group">
                    
                    <span><ion-icon name="person-outline"></ion-icon><input type="text" name="name" placeholder="Full Name *" required></span> 
                 </div>
                <div class="inputs-group">
                    
                   <span><ion-icon name="mail-outline"></ion-icon><input type="email" name="email" placeholder="Email Id *" required></span> 
                </div>
                <div class="inputs-group">
                   
                    <span><ion-icon name="lock-closed-outline"></ion-icon><input type="password" name="psw" placeholder=" Create Password *" required></span>
                </div>
                
                <div class="submitt_btn">
                   <button type="submit">Register</button>
                </div>

                <div class="div-link">
                    <a href="{% url 'Analysis_HomePage' %}"><span> Sign In </span></a>
                    <a href="{% url 'Analysis_HomePage' %}"><span> Back ? </span></a>
       
                    
                </div>
                
            </div>
            
        </div>
       


       </form>

    </div>

</section>



{% endblock %}
