{% extends 'Dashboard/dashboard_base.html' %}
{% load static %}
{% block content %}



<style>
    .top-section
    {
        overflow-x: scroll;
    }
    #example
    {
        font-size: 0.85em;
    }
    #example thead tr
    {
        font-size: 0.98em;
    }
    .search-box
    {
       padding: 0.70em 1em;
    }
    .search-form
    {
        display: flex;
        align-items: center;
        justify-content:center;
        margin-bottom: 1.3em;
        gap: 1em;
    }
    .input-boxs
    {
        padding: 0.20em;
        margin: 0.30em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        border-radius: 7px;
       
    }
    .all-data
    {
        font-size: 0.80em;
        padding: 0.95em;
        text-decoration: none;
    }
    .input-boxs select,  .input-boxs input
    {
        font-size: 0.80em;
        padding: 0.95em;
        padding-right: 3.5em;
        width: 200px;
        border: none;
       
        border-radius: 7px;
    }
    .input-boxs input
    { width: 300px;

    }
   
    .input-boxs input[type='text']:focus, .input-boxs select:focus
    {
        
     
     outline: 1px rgb(12, 51, 103);
     border: 1px solid #38a9f0;
     -webkit-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
     -moz-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
     box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
       
    }
    option {
        background-color: rgb(255, 255, 40);
       
        font-weight: 400;
      }
     
      .serachbtn
      {
        padding: 0.50em 1.3em;
        
        border: none;
        outline: none;
        font-size: 0.85em;
        letter-spacing: 0.05em;
        font-weight: 500;
        background: transparent;
        border-radius: 5px;
      }
      .serachbtn .fa-search:hover {
        color: #140931;
        transform:scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 0.40em;
        border-radius: 10px;
      }
    .display-content
    {
        font-size: 0.80em ;
        color: rgb(242, 33, 33);
        letter-spacing: 0.05em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
    }
    
    .serach-show
    {
        border: none;
        outline: none;
        padding: 0.70em 1em;
        font-size: 0.75em;
        font-weight: 500;
        margin-bottom: 1.5em;
        letter-spacing: 0.05em;
        background: #301082;
        border-radius: 10px;
        color: #ffff;
      
        
    }
    .serach-show a{
        color: #ffff;
        font-size: 0.90em;
    }
    .serach-show:hover{
        background: #140931;
        color: #ffff;
    }
    #nmsearch, #range-search, #date-search
    {
        display: none;
    }
 
</style>


<!-- Begin Page Content -->
<div class="container-fluid top-section">
    {% if msg %}
    <p class="display-content"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{msg}}</p>
    {% endif %}

    {% if content %}
    <p class="display-content">Search by column - {{content.col}} and filter content - {{content.val}}</p>
    {% endif %}

    <button class="serach-show"><a href="{% url 'Analysis' file_up.id %} " class="all-data" >All Data</a></button>

    <button class="serach-show" onclick="NormalSearch()">Normal Search</button> 
    <button class="serach-show" onclick="RangeSearch()">Range Search</button>  
    <button class="serach-show" onclick="DateSearch()">Date Search</button>
   
      
    

    <div class="search-box" id="nmsearch">
       
      

        <form action="{% url 'Analysis_search' file_up.id %}" class="search-form" method="post"  >
            {% csrf_token %}
           
            <div class="input-boxs">
                <select name="colname" required>
                   
                    <option value="0">Select the column </option>
                    {% for column in excel_contents.columns %}
                    <option value="{{column}}">{{ column }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-boxs">
                <input type="text" name="serch_value" placeholder="Provide value" value="0">
                <span >
                    <button class="serachbtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            

        </form>
    </div>
    <div class="search-box" id="range-search">

        <form action="{% url 'Analysis_rangesearch' file_up.id %}" class="search-form" method="post" >
            {% csrf_token %}
           
            <div class="input-boxs">
                <select name="colnamerange" required>
                   
                    <option value="0">Select the column </option>
                    {% for column in excel_contents.columns %}
                    <option value="{{column}}">{{ column }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-boxs">
                <input type="text" name="start_val" placeholder="Provide Start value" required>
            </div>
            <div class="input-boxs">
                <input type="text" name="end_val" placeholder="Provide End value" required>
                
            </div>
            <span>
                <button class="serachbtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            

        </form>
    </div>
    <div class="search-box" id="date-search">
        <form action="{% url 'Analysis_datesearch' file_up.id %}" class="search-form" method="post" >
            {% csrf_token %}
           
            <div class="input-boxs">
                <select name="datecol" required>
                   
                    <option value="0">Select the column </option>
                    {% for column in excel_contents.columns %}
                    <option value="{{column}}">{{ column }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-boxs">
                <input type="date" name="start_dt" placeholder="Provide Start Date" required>
            </div>
            <div class="input-boxs">
                <input type="date" name="end_dt" placeholder="Provide End Date" required>
                
            </div>
            <span>
                <button class="serachbtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            

        </form>
       
    </div>

    <!-- Data display table -->

    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                {% for column in excel_contents.columns %}
                <th>{{ column }}</th>
              {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in excel_contents.iterrows %}
            <tr>
                {% for column, value in row.items %}
                <td>{{ value }}</td>
                {%endfor %}
            </tr>
            {% endfor %}
           
        </tbody>
        
    </table>

    <!-- End -->

</div>

<div class="container-fluid">

 

</div>


<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script>
    function NormalSearch() {
      var div = document.getElementById("nmsearch");
      var div1 = document.getElementById("range-search");
      var div2 = document.getElementById("date-search");
      if (div.style.display === "none") {
        div.style.display = "block";
        div1.style.display = "none";
        div2.style.display = "none";
        div.classList.add("search-form");
      } else {
        div.style.display = "none";
      }
    }

    function RangeSearch() {
        var div = document.getElementById("range-search");
        var div1 = document.getElementById("nmsearch");
        var div2 = document.getElementById("date-search");
        if (div.style.display === "none") {
          div.style.display = "block";
          div1.style.display = "none";
          div2.style.display = "none";
          div.classList.add("search-form");
        } else {
          div.style.display = "none";
        }
      }

      function DateSearch() {
        var div = document.getElementById("date-search");
        var div1 = document.getElementById("nmsearch");
        var div2 = document.getElementById("range-search");
        if (div.style.display === "none") {
          div.style.display = "block";
          div1.style.display = "none";
          div2.style.display = "none";
          div.classList.add("search-form");
        } else {
          div.style.display = "none";
        }
      }
  </script>

{% endblock %}