{% extends 'Dashboard/dashboard_base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .msg-box
    {
        padding: 1em;
        text-align: center;
        font-size: 0.85em;
     
        margin-bottom: 1em;
    }
    .msg-box .delete-msg
    {
        color: rgb(238, 23, 23);
        font-weight: 600;
        letter-spacing: 0.05em;
    }
    #msgbox {
        transition: opacity 1s ease-in-out;
    }
    #msgbox.hidden {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }
   
    .text-bold-7
    {
        font-weight: 700;
    }
    .recent-files-box
    {
        max-height: 70vh;
        margin-bottom: 1em;
        overflow-y: scroll;
        padding:0.60em 1em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       
    }

    .recent-files-box::-webkit-scrollbar {
    width: 7px;
    }
    .recent-files-box::-webkit-scrollbar-track {
        
        border-radius: 5px;
    }
    
    .recent-files-box::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 4px rgba(112, 111, 111, 0.4); 
    }
    .recent-files-box .card
    {

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: none;
        outline: none;
        font-size: 0.90em;
    }
    .recent-files-box .card .card-header
    {
        border: none;
        outline: none;
     
    }
    #file-card-body
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .recent-files-box .card .card-footer
    {
        border: none;
        outline: none;
     
    }
    .recent-files-box .card .card-header h6{
        font-size: 0.95em;
        margin-top: 0.98em;
        color: rgb(13, 11, 59);
    }
    .remove-file i
    {
        text-align: end;
        color: rgb(236, 60, 60);
        font-size: 0.90em;
      
    }
    .analysis-file i{
        color: rgb(10, 16, 95);
        margin-right: 0.90em;
        font-size: 0.90em;
        
    }
    .report-file i{
        color: rgb(14, 103, 186);
        margin-right: 0.90em;
        font-size: 0.90em;
        
    }
    .date_box
    {
        font-size: 0.85em;
        font-weight: 600;
    }
</style>


<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="{% url 'upload_files_page' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-upload fa-sm text-white-60"></i> Upload Data File</a>
    </div>

    
   

    {% if delete_msg%}
    <div class="msg-box" id="msgbox">
        <span class="delete-msg" id="msgbox">{{delete_msg}}</span>
    </div>
    {% endif %}
    

    <!-- Content Row -->
    
   

    
    <h6 class="mt-3 mb-4 text-bold-7"> Recent File Uploads</h6>
    <div class="container-fluid recent-files-box">
       

        
        <div class="row">

            <!-- Content Column -->
            
            {% for i in file_up %}
    
            <div class="col-lg-12 mb-2">
    
                <!-- Illustrations -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{i.file_Name}}</h6>
                    </div>
                    <div class="card-body" id="file-card-body">

                        <div>
                            <p>
                                {% if i.file_data %}
                                    <a href="{{i.file_data.url}}" download="{{i.file_data}}">{{i.file_data}} <i class="fas fa-file-excel fa-sm text-white-70"></i>  </a>
                                {% endif %}
                            </p>
                            <span class="date_box">Upload Date : {{i.file_upload_date}}</span>
                        </div>
                        <div>
                            <a href="{% url 'Analysis' i.id %}" class="analysis-file" ><i class="fas fa-search fa-md "> Analysis</i></a>
                            <a href="#" class="report-file" ><i class="fas fa-file fa-md "> Report</i></a>
                            <a id='deletebtn' data-toggle="modal" data-target="#delete-modal{{i.id}}" data-id="{{ i.id }}" class="remove-file"  ><i class="fas fa-minus-circle fa-md " > Remove</i></a>

                        </div>
                       
                        
                       
                    
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>


</div>

<!-- Confirmation Modal css -->
<style>
    .modal-content
    {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
    .modal-content, .modal-header, .modal-footer
    {
        border: none;
        outline: none;
        border-radius: 0px;
    }
    .titlesize
    {
        font-size: 1.1em;
        font-weight: 600;
        color: rgb(227, 59, 33);
    }
    .modal-body
    {
        font-size: 0.90em;
        font-weight: 600;
        
    }
    .modal-body .file_name
    {
        font-size: 1em;
        font-weight: 700;
        color: rgb(227, 23, 23);
    }
    .btn
    {
        font-size: 0.85em;
        border-radius: 0px;
        font-weight: 600;
    }
</style>

<!-- end-->


<!-- Delete Model -->
{% for i in file_up %}

<div class="modal fade" id="delete-modal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title titlesize" id="delete-modal-label">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class='file_name'> {{i.file_Name}} </span> file ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'RemoveUpload_File' i.id %}"><button type="button" class="btn btn-danger" id="delete-confirm">Delete</button></a>
        </div>
      </div>
    </div>
</div>

{% endfor %}

<!--- end -->


<script>
    setTimeout(function() {
        document.getElementById('msgbox').classList.add('hidden');
    }, 5000);
</script>



{% endblock %}